
.attribute-bar {
  margin-bottom: 12px;

  .label {
    flex: 0 auto;
    margin: 1px 4px;
    font-size: 0.85em;
    font-weight: 600;
  }

  .attribute-icon {
    margin: 0 12px 0 0;
    flex: 0 0 auto;
  }

  .attribute-box {
    align-items: center;
    border: 2px solid red;
    border-radius: 4px;
    padding: 5px;
    background-color: rgba(#fff, 0.5);
    flex-wrap: nowrap;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;

    .attribute-points {
      gap: 5px;
      flex-wrap: nowrap;

      & > i {
        flex: 0 0 auto;
      }
    }
  }
}
