
@mixin character-field {
  align-items: center;
  border-bottom: 2px solid rgba(#444, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  background-color: rgba(#fff, 0.3);
}

.attribute-field {
  margin-bottom: 12px;

  .attribute-icon {
    margin: 0 12px 0 0;
    flex: 0 0 auto;
  }

  .attribute-box {
    @include character-field;
    padding: 6px;
    flex-wrap: nowrap;
    overflow: hidden;

    .attribute-points {
      gap: 5px;
      flex-wrap: nowrap;

      & > i {
        flex: 0 0 auto;
      }
    }
  }
}

.defense-field {
  margin-bottom: 24px;
  min-width: 100px;

  .defense-icon {
    flex: 0 0 auto;
  }

  .defense-box {
    @include character-field;
    padding: 8px;

    .defense-value {
      font-size: 2em;
      font-weight: 600;
      text-align: center;
    }

    input {
      margin-left: 12px;
    }
  }
}

.label {
  flex: 0 auto;
  margin: 3px 0;
  font-size: 0.85em;
  font-weight: 600;
}
