@use '../utils/variables' as *;

// Mixins

@mixin character-field {
  align-items: center;
  border-bottom: 2px solid rgba(#444, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: $box-shadow;
  background-color: $box-background;
}

// Resource bars (Health, Mana)
.resource {
  margin: 4px 2px 12px;

  .resource-content {
    text-align: center;
  }

  .resource-squares {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3px;
    padding: 5px 0;

    .resource-square {
      width: 16px;
      height: 16px;
      border: 1px solid transparent;
      border-radius: 4px;

      &.filled.health {
        background-color: #dc3545;
        border-color: #bd2130;
      }

      &.filled.mana {
        background-color: #007bff;
        border-color: #0056b3;
      }

      &.empty {
        background-color: #e0e0e0;
        border-color: #ccc;
      }
    }
  }
}

.tab-content {
  color: $c-text-on-light;
}

// Attribute fields (STR, AGI, INT, PER, CHA)
.attribute-field {
  margin-bottom: 10px;
  flex: 0 auto;

  .attribute-icon {
    margin: 0 12px 0 0;
    flex: 0 0 auto;
  }

  .attribute-box {
    @include character-field;
    padding: 8px;
    flex-wrap: nowrap;
    overflow: hidden;

    .attribute-points {
      gap: 5px;
      flex-wrap: nowrap;

      & > i {
        flex: 0 0 auto;
      }
    }
  }
}

.effects-list {
  .effect-item {
    @include character-field;
    color: $c-text-on-light;
    width: 100%;
    margin: 6px 0;
    border: none !important;
    border-radius: 4px;
    min-height: 32px;

    img {
      flex: auto 0;
      margin: 8px;
      filter: invert(50%);
    }

    .effect-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .effect-remove {
      flex: auto 0;
      margin: 6px;
    }
  }
}

// Defense fields (Armor, Endurance, Willpower)
.defense-field {
  margin-bottom: 24px;
  min-width: 100px;

  .defense-icon {
    flex: 0 0 auto;
  }

  .defense-box {
    @include character-field;
    padding: 8px;

    .defense-value {
      font-size: 2em;
      font-weight: 600;
      text-align: center;
    }

    input {
      margin-left: 12px;
    }
  }
}

.quantity-column {
  display: flex;
  flex-direction: row;

  & > span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > a {
    flex: auto 0;
  }
}
