@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.message-content:has(.d12-roll-message) {
  overflow: visible
}

.d12-roll-message {
  --main-color: #111;
  color: $c-text-on-light;

  .item-container {
    @include box;
    padding: 8px;
    margin: 8px 0;

    .item-image {
      @include item-image;
    }

    .item-name {
      @include flex-grow;
      margin-left: 8px;
      font-weight: 500;
    }

    .item-bonus {
      @include flex-auto;
      color: $c-text-on-light;
      font-size: 2em;
      font-weight: 600;
    }
  }

  .roll-breakdown {
    .die, .bonus {
      @include flex-grow;
      @include character-field;
      padding: 4px 0;

      span {
        @include flex-grow;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        color: var(--modifier-color);
      }

      i, img {
        @include flex-auto;
        margin: 0 8px;
        font-size: 1.5em;
        color: #878787;
      }
    }

    .plus {
      @include flex-auto;
      padding: 0 16px;
      font-size: 2.5em;
      font-weight: 600;
    }
  }

  .separator {
    font-size: 0.9em;
    text-align: center;
    margin: 8px 4px;

    &::before, &::after {
      content: "";
      @include flex-grow;
      border-top: 1px dotted #909090;
      align-self: center;
    }

    &::before {
      margin-right: 8px;
    }
    &::after {
      margin-left: 8px;
    }
  }

  .roll-result {
    @include box;
    color: var(--main-color);
    padding: 4px;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
  }

  .roll-critical {
    @include box;
    background-color: $c-green;
    justify-content: space-around;
    margin: 8px 0 0;

    & > * {
      @include flex-auto;
    }

    span {
      padding: 4px;
      text-transform: uppercase;
      font-weight: 500;
      color: white;
      font-size: 1.5em;
      font-family: $font-condensed;
    }

    i {
      font-size: 1.5em;
      color: white;
    }
  }

  .targets {
    .separator {
      margin-bottom: 0;
    }

    .target {
      min-height: 32px;

      .target-image {
        @include flex-auto;

        img {
          @include item-image;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 1px;
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }

      .target-name {
        @include flex-grow;
      }

      .target-result {
        @include flex-auto;

        .success { color: $c-green; }
        .fail { color: $c-red; }
      }
    }
  }
}
