@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.sidebar {
  .sheet-art {
    overflow: visible;
    img {
      box-shadow: 0px 0px 8px 4px;
    }
  }
}

.ability-roll-button {
  height: 40px;

  & > div {
    padding: 4px 0;
    align-items: center;
    width: 100%;

    & > img {
      flex: auto 0;
    }
  }
}

.action-section {
  .title {
    margin-bottom: 8px;
    font-size: 1.5em;
    font-family: $font-condensed;
    font-weight: 500;
  }

  .mode {
    margin-bottom: 8px;
    width: auto;
  }

  .roll-details {
    &.play-mode {
      max-width: 320px;
    }
    &.edit-mode {
      min-width: 320px;
    }
  }

  .against {
    @include flex-auto;
    margin: 0 8px;
    font-family: $font-condensed;
  }

  .separator-text {
    @include flex-auto;
    margin: 0 8px;
    font-family: $font-condensed;
  }

  select {
    flex: 2;
  }
  input {
    flex: 1;
  }

  .ability-bonus-box, .target-defense-box {
    @include character-field;
    @include flex-grow;
    flex-wrap: nowrap;
    padding: 8px;

    .box-description {
      @include flex-grow;
      font-family: $font-condensed;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    img {
      @include flex-auto;
      margin-right: 8px;
    }
  }
}
