.sidebar {
  .sheet-art {
    overflow: visible;
    img {
      box-shadow: 0px 0px 8px 4px;
      border-radius: 8px;
    }
  }
}

.ability-roll-button {
  height: 40px;

  & > div {
    padding: 4px 0;
    align-items: center;
    width: 100%;

    & > img {
      flex: auto 0;
    }
  }
}
