.window-content {
  &::before {
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.75;
    width: 100%;
    height: 114px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(81, 0, 0, 0.8)),
      url('../assets/ui/sheet-header.png') no-repeat center center / cover;
  }

  .sheet-grid {
    grid-template-columns: minmax(0, min(33.33%, 200px)) 1fr;
    gap: 8px;
  }
}

.sheet-header {
  height: 50px;

  .sheet-title {
    input {
      color: #fff;
    }
  }
}
