@use '../utils/variables' as *;

.window-content {
  background-image: url('../assets/ui/sheet-bg.jpg');
  background-size: cover;
  position: relative;
  overflow-y: auto;

  & > form {
    position: relative;

    .sheet-grid {
      margin-top: 0px;
    }
  }
}

.sidebar {
  .sheet-art {
    width: 100%;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
    background-image: linear-gradient(to right top, #c0c0c0, #c8c8c8, #d0d0d0, #d8d8d8, #e0e0e0);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      border: 2px solid rgba(#fff, 0.5);
      position: absolute;
      inset: 6px;
      pointer-events: none;
    }
  }
}

.sheet-body {
  margin-left: 8px;

  & > * {
    flex: auto 0;

    &.flexgrow {
      flex: 1;
    }
  }

  .sheet-header {
    align-items: flex-start;

    .sheet-title {
      width: 100%;

      input, div {
        font-family: $font-secondary;
        font-size: 3em;
        height: 1.3em;
      }
    }

    input[disabled] {
      background: transparent;
      border: none;
      padding-left: 0;
    }
  }
}
