@use '../utils/variables' as *;

.window-content {
  &::before {
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.75;
    width: 100%;
    height: 120px;
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: -1;
    background:
      linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(81, 0, 0, 0.75)),
      url('../assets/ui/sheet-header.png') no-repeat center center / cover;
  }

  .sheet-grid {
    grid-template-columns: min(33.33%, 200px) 1fr;
    gap: 16px;
  }
}

.sheet-header {
  .sheet-title {
    input, div {
      color: $c-text-on-dark-light;
    }
  }
}

nav.sheet-tabs {
  border-width: 0;
  margin: 13px 0 16px;
  justify-content: space-between;

  & > .item {
    font-family: $font-condensed;
    text-align: center;
    padding: 6px 12px;
    font-size: 1.2em;
    color: rgba(#fff, 0.5);
    text-shadow: none;

    &.active {
      border-bottom: 4px solid $c-text-on-dark-light;
      color: $c-text-on-dark-light !important;
    }

    .fas {
      margin-right: 6px;
    }
  }
}
