& {
  min-width: 450px;
}

.window-content {
  background-image: url('../assets/ui/sheet-bg.jpg');
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  & > form {
    position: relative;

    .sheet-grid {
      margin-top: 0px;
    }
  }
}

.sidebar {
  .sheet-art {
    width: 100%;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      border: 2px solid rgba(#fff, 0.5);
      position: absolute;
      inset: 6px;
      pointer-events: none;
    }
  }
}

.sheet-header {
  height: 50px;
  align-items: flex-start;

  .sheet-title {
    input {
      font-family: $font-secondary;
      font-size: 1.5em;
    }
  }

  input {
    background: transparent;
  }
}

nav.sheet-tabs {
  border-width: 0;
  margin: 20px 0 8px;

  & > .item {
    font-family: $font-condensed;
    padding: 6px 12px;
    font-size: 1.2em;
    color: rgba(#fff, 0.5);
    text-shadow: none;

    &.active {
      border-bottom: 4px solid #fff;
      color: #fff;
    }

    .fas {
      margin-right: 6px;
    }
  }
}

img {
  border: none;
}

.label {
  font-family: $font-condensed;
  flex: 0 auto;
  margin: 3px 0;
  font-size: 0.75em;
  color: #666;
}
