& {
  min-width: 450px;
}

.window-content {
  background-image: url('../assets/ui/sheet-bg.jpg');
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  & > form {
    position: relative;

    .sheet-grid {
      margin-top: 0px;
    }
  }
}

.sidebar {
  .sheet-art {
    width: 100%;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      border: 2px solid rgba(#fff, 0.5);
      position: absolute;
      inset: 6px;
      pointer-events: none;
    }
  }
}

.sheet-body {
  margin-left: 8px;

  & > * {
    flex: auto 0;
  }

  .sheet-header {
    align-items: flex-start;

    .sheet-title {
      input {
        font-family: $font-secondary;
        font-size: 1.5em;
        margin: 8px 0;
      }
    }

    input {
      background: transparent;
    }
  }
}

