@use '../utils/variables' as *;

.window-content {
  .sheet-grid {
    grid-template-columns: 150px 1fr;
    gap: 24px;
  }
}

.sidebar {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -16px;
    top: -16px;
    bottom: -16px;
    width: 182px;
    background:
      url('../assets/ui/sheet-sidebar.webp') top center / auto no-repeat,
      #16181d;
  }

  .sheet-subtitle {
    color: $c-text-on-dark;
    font-family: $font-secondary;
    font-size: 1.75em;
    text-align: center;
  }

  select, button, input {
    color: $c-text-on-dark;
    background-color: #252830;
    width: 100%;
    border: 1px solid #606060;

    option {
      color: #000;
    }
  }

  .label {
    color: $c-text-on-dark;
  }

  .details > * {
    margin-bottom: 16px;
  }
}

.sheet-body {
  color: #505050;
  margin-left: 8px;

  .sheet-header {
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(#000, 0.1);

    .sheet-title {
      input {
        color: #69625b;
        margin-bottom: 8px;
      }
    }
  }
}
