&.actor {
  min-width: 450px;
}

.window-content {
  background-image: url('../assets/ui/sheet-bg.jpg');
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.75;
    width: 100%;
    height: 100px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(81, 0, 0, 0.8)),
      url('../assets/ui/sheet-header.png') no-repeat center center / cover;
    pointer-events: none;
  }

  & > form {
    position: relative;
  }
}

.sidebar {
  .sheet-art {
    width: 100%;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      border: 2px solid rgba(#fff, 0.5);
      position: absolute;
      inset: 6px;
      pointer-events: none;
    }
  }
}

.sheet-header {
  height: 100px;

  .sheet-title {
    input {
      color: #fff;
    }
  }

  input {
    background: transparent;
  }
}

.tab {
  padding-top: 2px;
}

img {
  border: none;
}
