@use '../utils/variables' as *;

@mixin element-invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hide {
  display: none;
}

@mixin flex-auto {
  flex: 0 0 auto;
}

@mixin flex-grow {
  flex: 1;
}

@mixin character-field {
  align-items: center;
  border-bottom: 2px solid rgba(#444, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: $box-shadow;
  background-color: $box-background;
}

@mixin box {
  @include character-field;
  color: $c-text-on-light;
  border: none !important;
  border-radius: 4px;
  min-height: 32px;
}

@mixin item-image {
  @include flex-auto;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 1px;
  color: white;
}
