$font-primary: 'Roboto', sans-serif;
$font-secondary: "Modesto Condensed", "Palatino Linotype", serif;
$font-condensed: "Roboto Condensed", Roboto, Arial, sans-serif;

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/systems/d12/assets/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('/systems/d12/assets/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/systems/d12/assets/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}
