// Flexbox.
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexauto {
  flex: none;
}

.flex-between {
  justify-content: space-between;
}

.flexgrow {
  flex: 1;
}

.flexlarge {
  flex: 2;
}

// Alignment styles.
.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.justify-center {
  justify-content: center;
}
