.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

:root {
  --d12-attribute-str-color: #d93a2a; // Red
  --d12-attribute-agi-color: #00984d; // Green
  --d12-attribute-int-color: #577dbe; // Blue
  --d12-attribute-per-color: #f4b600; // Orange
  --d12-attribute-cha-color: #82368c; // Purple
}
