@use '../utils/variables' as *;

.window-app {
  font-family: $font-primary;
}

.application.sheet.d12 {
  min-width: 490px;

  &.locked {
    .edit-mode-only {
      display: none !important;
    }
  }

  // Table
  &.locked {
    .item-row, .items-header {
      grid-template-columns: 1fr 50px 80px;
    }
  }

  &.editable {
    .item-row, .items-header {
      grid-template-columns: 1fr 120px 80px 16px;
    }
  }
}

:root {
  --d12-attribute-str-color: #d93a2a; // Red
  --d12-attribute-agi-color: #00984d; // Green
  --d12-attribute-int-color: #577dbe; // Blue
  --d12-attribute-per-color: #f4b600; // Orange
  --d12-attribute-cha-color: #82368c; // Purple
}
