@use '../utils/variables' as *;

.item-edit {
  cursor: pointer;
}

a:hover {
  text-shadow: none;
  color: $c-highlight !important;
}

.label {
  font-family: $font-condensed;
  flex: 0 auto;
  margin: 3px 0;
  font-size: 0.75em;
  color: $c-text-on-light;
}

input {
  height: 24px;
  padding: 4px 8px;
}

select[disabled] {
  appearance: none;
}

button {
  min-height: 32px;
}

.locked {
  .edit-mode-only {
    display: none !important;
  }
}

.locked {
  .rollable {
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

.flexcol {
  select {
    flex: auto;
  }
}

.rarity-rare { color: #01bfff !important; }
.rarity-epic { color: #d1017b !important; }
.rarity-legendary { color: #b7861d !important; }

.inline-attributes {
  font-family: $font-condensed;
  font-size: 0.9em;

  & > span {
    padding: 0 10px;
    border-width: 0 1px;
    border-color: #c0c0c0;
    border-style: solid;
  }

  & > span:first-child {
    padding-left: 0;
    border-left: none;
  }

  & > span:last-child {
    padding-right: 0;
    border-right: none;
  }

  .fas {
    margin-right: 2px;
  }

  .attribute-value {
    font-weight: 600;
    padding: 0 2px;
  }
}

.editor-section {
  display: flex;
  flex: 1;
  flex-direction: column;

  .editor {
    display: flex;
    flex-direction: column;
    flex: 1;

    .editor-container {
      overflow: visible;
    }
  }

  .editor-content {
    overflow: visible;
    position: static;
  }
}
