/* Items Table Styles */
.items-section {
  border-radius: 4px;
  box-shadow: $box-shadow;
  overflow: hidden;
  background-color: $box-background;
  margin-bottom: 16px;
  color: #666;

  .items-header {
    display: grid;
    font-family: $font-condensed;
    gap: 8px;
    align-items: center;
    padding: 6px 8px;

    font-size: 0.9em;
    background: linear-gradient(90deg, rgba(66, 32, 39, 1) 0%, rgba(115, 26, 42, 1) 100%);
    color: white;

    .item-name {
      text-align: left;
      font-weight: bold;
    }

    .item-header {
      text-align: center;
      text-transform: capitalize;
    }
  }

  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      border-bottom: 1px dashed #d9d9d9;
      padding: 0;

      &:last-child {
        border-bottom: none;
      }

      .item-row {
        display: grid;
        gap: 8px;
        align-items: center;
        padding: 6px 8px;
        min-height: 28px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .item-name {
          display: flex;
          align-items: center;
          gap: 8px;
          text-align: left;

          .item-image {
            flex: 0 0 auto;
            width: 32px;
            height: 32px;
            border-radius: 4px;
            overflow: hidden;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 1px;
            color: white;
          }

          .item-title {
            flex: 1;
            min-width: 0;
            overflow: hidden;

            span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              display: block;
              font-size: 0.9em;
            }
          }
        }

        .item-column {
          text-align: center;
          font-size: 0.9em;

          &.item-actions {
            display: flex;
            justify-content: center;
            gap: 4px;
          }
        }

        .item-actions {
          .item-control {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;

            cursor: pointer;
            padding: 0;
            transition: color 0.2s ease;

            i {
              margin: 0;
            }
          }
        }

        .no-items {
          text-align: center;
          padding: 4px;
        }

        .fa-circle-minus { margin-right: 4px; }
        .fa-circle-plus { margin-left: 4px; }
      }
    }
  }
}

.locked {
  .edit-mode-only {
    display: none !important;
  }

  .item-row, .items-header {
    grid-template-columns: 1fr 50px 80px;
  }
}

.editable {
  .item-row, .items-header {
    grid-template-columns: 1fr 120px 80px 16px;
  }
}
