@use '../utils/variables' as *;
@use '../utils/mixins' as *;

/* Items Table Styles */
.items-section {
  border-radius: 4px;
  box-shadow: $box-shadow;
  overflow: hidden;
  background-color: $box-background;
  margin-bottom: 16px;
  color: $c-text-on-light;

  .items-header {
    display: grid;
    font-family: $font-condensed;
    gap: 8px;
    align-items: center;
    padding: 6px 8px;
    font-size: 0.9em;
    background: linear-gradient(90deg, rgba(66, 32, 39, 1) 0%, rgba(115, 26, 42, 1) 100%);
    color: white;

    .item-name {
      text-align: left;
      font-weight: bold;
    }

    .item-header {
      text-align: center;
      text-transform: capitalize;
    }
  }

  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      border-bottom: 1px dotted #c7c7c7;
      padding: 0;
      margin: 0;

      &:last-child {
        border-bottom: none;
      }

      .item-row {
        display: grid;
        gap: 8px;
        align-items: center;
        padding: 6px 8px;
        min-height: 28px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .item-name {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          text-align: left;

          .item-image {
            @include item-image;
          }

          .item-title {
            @include flex-grow;
            min-width: 0;
            overflow: hidden;

            span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              display: block;
              font-size: 0.9em;
            }
          }
        }

        .item-column {
          text-align: center;
          font-size: 0.9em;

          &.item-actions {
            display: flex;
            justify-content: center;
            gap: 4px;
          }
        }

        .use-item {
          color: rgba($c-text-on-light, 0.75);

          i {
            font-size: 20px;
            margin: 3px 0 0;
          }
        }

        .no-charges {
          color: $c-red;
        }

        .no-items {
          text-align: center;
          padding: 4px;
        }

        .fas { margin: 0 6px; }
      }
    }
  }
}

.locked {
  .item-row, .items-header {
    grid-template-columns: 1fr 50px 60px 24px;
  }
}

.editable {
  .item-row, .items-header {
    grid-template-columns: 1fr 90px 60px 24px;
  }
}
