// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Component styles */
@import 'components/slide-toggle';

/* Styles limited to d12 sheets */
.application.sheet.d12 {
  @import 'components/sheets';
  @import 'theme/general';
  @import 'theme/table';

  &.actor {
    @import 'components/sheets-actor';
    @import 'components/actors';
  }

  &.item {
    @import 'components/sheets-item';
    @import 'components/items';
  }
}
