// Import utilities.
@use 'utils/variables';

/* Global styles */
@use 'global/window';
@use 'global/grid';
@use 'global/flex';

@use 'sass:meta';

/* Styles limited to d12 sheets */
.application.sheet.d12 {
  @include meta.load-css('components/sheets');
  @include meta.load-css('theme/general');
  @include meta.load-css('theme/table');
  @include meta.load-css('theme/slide-toggle');

  &.actor {
    @include meta.load-css('components/sheets-actor');
    @include meta.load-css('components/actors');
  }

  &.item {
    @include meta.load-css('components/sheets-item');
    @include meta.load-css('components/items');
  }
}

// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
